# OS files
.DS_Store
Thumbs.db
.gemini/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Extension specific
*.crx
*.pem

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
mosaic-home.zip
